<nav id="navbar">
  <ul>
    <div class="nav-block">
      <button class="nav-prod" onclick="myProduct()">
        Birthday Bouquets
      
      </button>
      
    </div>
    <div class="nav-block">
      <button class="nav-prod" onclick="myProduct()">
        Balloony Occasion
        
      </button>
      
    </div>
    <div class="nav-block">
      <button class="nav-prod" onclick="myProduct()">
        Build a Balloon Bouquet
        
      </button>
      
    </div>
    <div class="nav-block">
      <button class="nav-prod" onclick="myProduct()">
        Decorating with Balloons
        
      </button>
      
    </div>
    <div class="nav-block">
      <button class="nav-prod" onclick="myProduct()">
        Balloons in Bulk
        
      </button>
      
    </div>
  </ul>
</nav>