<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width intitial-scale=1">
        <link rel="stylesheet" href="./css/styleabout.css">
        <script defer src ="./js/button.js"></script>
        <link
           rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        />
        <title>The Ballonatic Asylum</title>
    </head>    
    

    <body>

        <%- include('../partials/header'); %>
        <main>
           <%- include('../partials/nav'); %>
           <section id="aboutText">
              <div class="text1">
                <img src="./img/founderimage.PNG" alt="founder" />
                <div class="text-block">
                    <h1>About Us</h1>
                    <p>The Balloonatic Asylum was formed in 2012 by Krista H. Elium. She was originally a 
                     high-energy physicist who decided to give up that lucrative career to spend more time
                     at home with her eight Maine Coon cats and two goldfish. One day while working with 
                     liquid helium cooling giant magnets near absolute zero at a proton-smashing super-
                     collider, she said, "I'm getting really cold and my sweater bill is astronomical! 
                     think I'll dump the physics, and just focus on my true love... room-temperature 
                     Helium!". On that day a new business was born bringing Helium gas and joy to the masses
                    </p>
                </div>
              </div>
            </section>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>










        