<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/styleabout.css" rel="stylesheet" />
    <script src="./js/button.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <title>The Ballonatic Asylum</title>
  </head>

  <body>
    <%- include('../partials/header'); %>
    <main>
      <%- include('../partials/nav'); %>
      <section id="aboutText">
        <div class="text1">
          <div class="text-block">
            <h1>Succesfully logged out</h1>
          </div>
        </div>
      </section>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
